@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

html {
	scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: white;
}

::-webkit-scrollbar-thumb {
	background-color: #ff00ea;
	border-radius: 12px;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
	.text-h1 {
		font-size: 7.5rem;
		line-height: 1.1;
	}
	@media screen and (max-width: 1200px) {
		.text-h1 {
			font-size: 6.5rem;
		}
	}
	@media screen and (max-width: 850px) {
		.text-h1 {
			font-size: 5.5rem;
		}
	}
	@media screen and (max-width: 600px) {
		.text-h1 {
			font-size: 4.5rem;
		}
	}

	.navbar-text-hover {
		@apply bg-clip-text text-transparent bg-gradient-to-r from-[#2600fc] to-[#ff00ea];
	}
}
